table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    text-align: center;
    background-color: #d3d3d3;
    padding: 8px;
}

th {
    color: #fff;
    background-color: #666;
}

.actions {
    display: flex;
    height: 100%;
    flex-direction: column;
}

.actions button {
    margin: 5px 5px 0px 0px;
}

.button__noteAdd-wrapper {
    display: flex;
    justify-content: end;
}

.button__note-add {
    margin-top: 20px;
}
